# Environments
venv/
.env

# Python artifacts
**/__pycache__/
*.pyc

# Data & Storage
storage/
postgres/

# Version Control
.git/

lazygit
lazygit.tar.gz

# Backups
quarantine_students.py.bak
docker-compose.yaml.bak
geminiignore.md
